Repository sorbet/sorbet, pull requests merged in 2020-07, with the labels that each got.

#3226 Import tests for ruby27 parser and add a few features
  parser/Parser.cc
  third_party/parser/cc/capi.cc
  third_party/parser/cc/driver.cc
  third_party/parser/cc/grammars/typedruby.ypp
  third_party/parser/include/ruby_parser/capi.hh
  third_party/parser/include/ruby_parser/driver.hh
  third_party/parser/include/ruby_parser/lexer.hh
  tools/scripts/import_whitequark.sh
Labels: blocked on stripe

#3247 Improve Hash sigs transform keys and values
  rbi/core/hash.rbi
  test/testdata/rbi/hash.rb
Labels: blocked on stripe, rbi

#3254 Add signature to Array#[]= that supports arrays for slices
  rbi/core/array.rbi
  test/testdata/rbi/array.rb
Labels: rbi

#3244 Added sig for passing pattern to Enumerable#all?, #any?, #none? and #one?
  rbi/core/enumerable.rbi
  test/testdata/rbi/enumerable.rb
Labels: blocked on stripe, rbi

#3122 Fix sigs for CSV::Table and a few of the main methods to parse CSVs
  rbi/stdlib/csv.rbi
  test/testdata/rbi/csv.rb
Labels: blocked on stripe, rbi

#3271 `require_relative` accepts a String or a Pathname
  rbi/core/kernel.rbi
Labels: blocked on stripe, rbi

#3284 Allow NilClass for logdev
  rbi/stdlib/logger.rbi
Labels: blocked on stripe, rbi

#3290 Adds Array#intersection definition
  rbi/core/array.rbi
Labels: blocked on stripe, rbi

#3248 improve Array and Range bsearch sigs
  rbi/core/array.rbi
  rbi/core/range.rbi
  test/testdata/rbi/array.rb
  test/testdata/rbi/range.rb
Labels: rbi
