Repository sorbet/sorbet, pull requests merged in 2020-09, with the labels that each got.

#3374 Rename parameter `usec_with_frac` into `tz` for Time#initialize
  rbi/core/time.rbi
Labels: rbi

#3367 Fix File::ALT_SEPARATOR type
  rbi/core/file.rbi
Labels: rbi

#3371 Fix signature for String#lines
  rbi/core/string.rbi
Labels: rbi

#3404 CSV::Table uses a fixed type_member for Elem
  rbi/stdlib/csv.rbi
  test/testdata/rbi/csv.rb
Labels: rbi

#3359 Handle literal ranges the same way we handle other literal generics
  ast/desugar/Desugar.cc
  core/GlobalState.cc
  core/SymbolRef.h
  core/Types.h
  core/tools/generate_names.cc
  core/types/calls.cc
  core/types/types.cc
  rbi/core/range.rbi
  test/testdata/desugar/range.rb
  test/testdata/desugar/range.rb.desugar-tree-raw.exp
  test/testdata/rewriter/flatfile_dsl.rb.rewrite-tree.exp
Labels: blocked on stripe

#3375 Fix signature for Enumerable#detect
  rbi/core/enumerable.rbi
  test/testdata/rbi/enumerable.rb
Labels: rbi

#3438 Fix wrong signature for `StringScanner#scan`.
  rbi/stdlib/strscan.rbi
Labels: blocked on stripe, rbi

#3445 Update Hash#merge! RBI definition to support splat
  rbi/core/hash.rbi
  test/testdata/rbi/hash.rb
Labels: rbi
